@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.nav-link:hover {
    color: #c1c1c1;
    text-decoration: underline;
    transform: scale(1.1);
}
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #1a2640;
    min-height: 100vh;
  }
  
  .app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  html {
    scroll-behavior: smooth;
}
